autopep8==1.5.4
flake8==3.8.3
ggplot==0.11.5
jupyter==1.0.0
pip-chill==1.0.1
pydocstyle==5.1.1
-e git+ssh://git@github.com/lifewatch/pyhydrophone.git#egg=pyhydrophone
rope==0.17.0
seaborn==0.11.1
sklearn==0.0
soundfile==0.10.3.post1
spyder==4.1.5
virtualenvwrapper-win==1.2.5
yapf==0.30.0
